<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Productos</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>Lista de Productos</h1>
    <table border="1" id="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Foto</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Precio</th>
        </tr>
      </thead>
      <tbody>
        <% productos.forEach(function(producto){ %>
        <tr>
          <td><%= producto._id %></td>
          <td>
            <img
              class="photo"
              width="100"
              src="<%= producto.photo %>"  <!-- Usando el enlace de la foto del producto -->
              alt="<%= producto.name %>"
            />
          </td>
          <td><%= producto.name %></td>
          <td><%= producto.description %></td>
          <td><%= producto.price %> USD</td>  <!-- Mostrando el precio en USD -->
        </tr>
        <% })%>
      </tbody>
    </table>
  </body>
</html>
